@media screen and ( min-width: 364px )
    *
        font-size: 22px

@media screen and ( min-width: 1024px )
    *
        font-size: 18px   
    
.Layout .Page
    //width: 90%
    display: flex
    justify-content: space-around     
    flex-wrap: wrap    
    >*
        flex: 2
        border: 1px solid grey
        padding: 2px 2px 2px 2px
input[type="radio"]
    display: none      

input[type="radio"]:checked + label
    color: green
    //border: 3px solid green

    
   